/* InstagramPostCreator.css */

/* Container styles */
.Container {
    margin-top: 20px;
}

/* Form styles */
.Form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form label styles */
.Form label {
    font-weight: bold;
}

/* Textarea styles */
.Form textarea {
    resize: none;
}

/* Button styles */
.Button {
    margin-top: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .Col {
        margin-top: 20px;
    }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
